* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: sans-serif;
}

.box {
  position: relative;
 width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff5733; 
  box-shadow: -250px 300px  red, 250px 600px yellow
}
.box::after{
  position: absolute;
  
  content:'';
  width: 150PX;
  height: 150PX;
  background-color: white;
  border-radius: 25%;
  left: 250px;
  box-shadow: -250px 300px green, -500px 600px blue
}
.box::before{
  position: absolute;
  content: '';
 
  width: 150px;
  height: 150px;
  background-color: pink;
  right: 250px;
  border-radius: 50%;
  box-shadow: 500px 300px brown, 250px 600px violet
}